@model MoviesWeb.ViewModels.Movie.MovieViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-header">
        <h3>Movie details</h3>
    </div>
    <div class="card-body">
        <dl class="row col-12">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.LocalTitle)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.LocalTitle)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-10">
                @*@Html.DisplayFor(model => model.ImageUrl)*@
                <img src="~/@Model.ImageUrl" height="50" width="50" alt="image" asp-append-version="true" />
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Overview)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Overview)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.RunTime)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.RunTime)
            </dd>
            @*<dt class="col-2">
            @Html.DisplayNameFor(model => model.Tagline)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Tagline)
        </dd>*@
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.MovieActors)
            </dt>
            <dd class="col-10">
                @await Html.PartialAsync("../Shared/_ActorsInSingleLinePartial", Model.MovieActors)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.MovieDirectors)
            </dt>
            <dd class="col-10">
                @await Html.PartialAsync("../Shared/_DirectorsInSingleLinePartial", Model.MovieDirectors)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.LastModifiedAt)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.LastModifiedAt)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
