@model MoviesWeb.ViewModels.Actor.ActorViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h3>Actor details</h3>
    </div>
    <div class="card-body">
        <dl class="row col-12">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-10">
                @*@Html.DisplayFor(model => model.ImageUrl)*@
                <img src="~/@Model.ImageUrl" height="50" width="50" alt="image" asp-append-version="true" />
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.LastModifiedAt)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.LastModifiedAt)
            </dd>
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
